<!DOCTYPE HTML>
<head>
    <title>HoldWip</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- Styles -->
    <link rel="stylesheet" href="/css/main.css" >
    <link rel="stylesheet" href="/lib/bootstrap.min.css" >
    <link rel="stylesheet" href="/lib/bootstrap-vue.css" >

    <!-- Font Awesome -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <!-- Bootstrap Files -->
    <script src="/lib/jquery-3.3.1.slim.min.js" ></script>
    <script src="/lib/popper.min.js" ></script>
    <script src="/lib/bootstrap.min.js" ></script>

    <!-- IE11 polyfill -->
    <script>
        if (typeof Promise === 'undefined')
            document.write('<script src="lib/bluebird.core.js"><\/script>');
    </script>

    <!-- System JS files -->
    <script src="/lib/system-21-5.js"></script>
    <script src="/lib/systemjs.config.js"></script>


    <script>
        window.vueData = {};
    </script>
</head>
<!--  this is header -->