{{>layout/header}}
<body>
<div id="app">
    <EditHoldTicketPage></EditHoldTicketPage>
</div>

<script>
    vueData.holdTicket={{{ holdTicket }}};
    System.import('/js/pages/EditHoldTicketPage.js');
</script>

</body>
{{>layout/footer}}
